.download-title {
    margin-left: 200px !important;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.container-download {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    margin-top: 50px;
}

.img-list-download {
    width: 100%;
    height: 270px;
}

.list-download {
    width: 22%;
    margin: 13px;
    margin-bottom: 25px;
}

.list-artist {
    font-style: italic;
    margin-bottom: 10px;
}

.list-title {
    font-style: 18px;
    color: black;
}

.container-btn-download {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.btn-download-book {
    width: 100%;
    font-weight: bold;
    background-color: #393939;
    border: 1px solid #393939;
    &:hover {
        opacity: 0.8;
        background-color: #393939;
        border: 1px solid #393939;
    }
}

.container-waiting {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.waiting {
    width: 100%;
    font-weight: bold;
}
