h4 {
    width: 80vw;
    margin: auto;
    font-weight: bold !important;
    margin-top: 50px !important;
    margin-bottom: 40px !important;
    color: black;
}

.list-transaction {
    margin: auto;
    width: 80vw !important;
}

.table th {
    color: red;
    border: none !important;
}

img.search {
    width: 20px !important;
    height: 20px !important;
    margin: auto !important;
    margin-left: 25px !important;
}

.search:hover {
    cursor: pointer;
}
