.container-incom-book {
    width: 100%;
    padding: 2% 5%;
    margin: auto;
    background-color: transparent !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}

.incom-book-title {
    width: 100%;
    margin: 0px !important;
    margin-bottom: 20px !important;
    font-weight: bold;
    color: black;
}

.list-incom-book {
    width: 95%;
    height: 450px;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(128, 128, 128, 0.5);
}

.incom-book-image {
    width: 100% !important;
    height: 300px;
}

.incom-book-desc {
    display: flex;
    flex-direction: column;
}

.incom-book-title {
    color: black;
    font-weight: bold;
}

.incom-book-artist {
    color: #929292;
    font-size: 12px;
}

.incom-book-price {
    font-size: 16px;
    color: #44b200;
    font-weight: bold;
}

.dropdown-incom-book {
    position: absolute !important;
    top: 5px !important;
    left: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-incom-book {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0;
    &:hover {
        background-color: transparent !important;
    }
}

.titik3 {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: -10 !important;
}

.dropdown-menu-incom-book {
    position: absolute;
    top: -10px !important;
    left: 100px !important;
}

@media screen and (max-width: 768px) {
    .dropdown-menu-incom-book {
        left: 0 !important;
    }
}
