.modal-update-book {
  margin-top: 70px;
  padding-bottom: 70px;
}

.title-update-book {
  width: 80%;
  margin: auto;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  font-weight: bold;
  color: black;
}

.form-update-book {
  margin: auto;
  width: 80%;
}

.form-update-book .form-input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: rgb(217, 219, 219) !important;
}

.form-dropdown {
  position: relative;
}

.form-dropdown img.dropdown {
  width: 20px !important;
  height: 15px !important;
  position: absolute;
  top: 45px !important;
  right: 10px !important;
}

.btn-update-book-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  margin-top: 30px !important;
}

.btn-update-book {
  display: flex;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #393939;
  color: white;
  font-weight: bold;
  border: none;
  border: none !important;
  &:hover {
    opacity: 0.8;
    background-color: #393939;
  }
}

.img-update-book {
  margin-left: 15px;
}

/* Input Upload Image */
div.img-upload-update {
  height: 40px !important;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px !important;
}

.img-upload-update .label-file-update {
  width: 100%;
  height: 40px;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.img-upload-update .form-input {
  border: 1px solid rgb(196, 186, 186);
}

.img-upload-update input {
  display: none;
}

.img-upload-update .text-file-update {
  padding: 5px;
  padding-left: 10px;
  margin: 0px;
  color: rgb(113, 112, 112) !important;
  font-size: 16px;
  font-weight: normal !important;
  border-radius: 5px;
}

.img-upload-update .text-file-update:hover {
  cursor: pointer;
}

.img-upload-update .img-file-update {
  margin-right: 10px;
  width: 16px;
  height: 18px;
}

.img-upload-update .img-file-update:hover {
  cursor: pointer;
}
/* End input upload image */
