.background-navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 2 !important;
    background-color: whitesmoke !important;
    z-index: 9999999999 !important;
}

.container {
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.container-navbar {
    width: 100%;
    display: flex;
    flex-direction: column !important;
}

.container-sub-navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
    margin: 0 !important;
}

.logo {
    margin-right: 10px 0px;
}

.col {
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.col-profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 !important;
}

.search {
    width: 100% !important;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-search {
    background-color: #393939 !important;
    border: none !important;
    border-radius: 5px !important;
    font-weight: bold;
    color: white !important;
    &:hover {
        cursor: pointer;
        background-color: #393939 !important;
        border: none !important;
    }
}

.login {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold !important;
    background-color: white;
    color: #393939;
    border-radius: 5px;
    border: 2px solid #393939;
    z-index: 1;
}

.register {
    width: 100px;
    height: 50px;
    text-align: center;
    font-weight: bold !important;
    background-color: #393939 !important;
    color: white;
    border-radius: 5px;
    border: 1px solid #393939 !important;
    z-index: 1;
    &:hover {
        opacity: 0.8;
        background-color: #393939;
    }
}

.dropdown {
    position: absolute;
    width: 50px !important;
    border-radius: 50%;
    border: none;
    background-color: transparent !important;
    transition: all 1s !important;
    z-index: 100 !important;
}

.dropdown.show .dropdown-menu {
    margin-left: -100px;
    margin-top: 10px;
}

.photo-profile {
    position: absolute !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-dropdown {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: flex-start;
    font-size: 16px !important;
    color: black;
    margin-left: 0px;
    font-weight: 700;
    padding: 0 !important;
}

.icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.container-bracket {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 80px;
    cursor: pointer;
}

.bracket-img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
}

.qty {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    text-align: center;
    font-size: 13px;
    background-color: #f13f3f;
    border-radius: 50%;
    z-index: 1;
}

@media screen and (max-width: 900px) {
    .logo {
        margin-right: 0px !important;
    }

    .dropdown.show .dropdown-menu {
        margin: 0px !important;
        margin-top: 10px !important;
    }

    div.container-bracket {
        left: 50px !important;
    }
}
