.desc-container {
    margin: auto;
    width: 65vw;  
}

.detail-desc {
    width: 70vw;
    margin-bottom: 50px;
}

.detail-title-desc {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.detail-desc-info {
    color: black;
    font-size: 15px;
    text-align: justify;
}

.btn-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px; 
}

.btn-cart Button {
    text-align: left;
    position: relative;
    width: 13% !important;
    padding: 5px 10px !important;
    background-color: #393939;
    border: none !important;
    &:hover {
        opacity: 0.8;
        background-color: #393939;
    }
}

.img-bracket {
    position: absolute;
    right: 10px;
    width: 22px;
    height: 22px;
}



