.desc-increment-container {
    width: 70vw;
    margin: auto;
    margin-bottom: 50px;
}

.detail-title-desc-increment {
    margin: 0 !important;
    margin-bottom: 20px !important;
    font-weight: bold;
    color: black;
}

.detail-info-desc-increment {
    margin: 0 !important;
    color: black;
    font-size: 15px;
    text-align: justify;
}

.btn-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}

.btn-cart Button {
    text-align: left;
    position: relative;
    width: 12%;
    padding: 5px 10px !important;
    background-color: #393939;
    border: none !important;
    &:hover {
        opacity: 0.8;
        background-color: #393939;
    }
}

.img-bracket {
    position: absolute;
    right: 10px;
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 768px) {
    .btn-cart Button {
        width: 22%;
    }
}

@media screen and (max-width: 480px) {
    .btn-cart {
        justify-content: center;
    }

    .btn-cart Button {
        width: 80%;
        text-align: center;
    }

    .img-bracket {
        position: static !important;
    }
}
