.footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center !important;
    background-color: #393939;
    z-index: 999;
}

.footer p {
    height: auto;
    margin: 0;
    color: white;
}

@media (max-width: 600px) {
    .footer p {
        white-space: normal;
        text-align: center;
    }
    
    .footer .copyright-text {
        display: block;
    }
}
