.listbook-title {
    margin-left: 70px !important;
    position: relative;
    top: 80px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.container-list {
    width: 100vw;
    padding: 5%;
    margin: auto;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    justify-content: space-between;
    margin-top: -170px;
    padding-top: 300px !important;
    padding-bottom: 100px !important;
}

.list-book {
    width: 18%;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent !important;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(128,128,128,0.5)
}

.list-image {
    width: 100%;
}

.list-desc {
    display: flex;
    flex-direction: column;
}

.list-title {
    color: black;
    font-weight: bold;
}

.list-artist {
    color: #929292;
    font-size: 12px;
}

.list-price {
    font-size: 16px;
    color: #44B200;
    font-weight: bold;
}