.cart-title {
    width: 80vw;
    margin: auto;
    margin-top: 120px !important;
    margin-bottom: 20px !important;
    padding: 0px 10px;
    font-weight: bold !important;
    color: black;
}

.order-empty {
    width: 80vw;
    margin: auto;
    padding: 0px 10px;
    font-weight: bold;
    color: red;
}

.payment-container {
    width: 80vw;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.content-satu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.img-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(128, 128, 128, 0.5);
}

.review-book-desc {
    width: 100%;
    padding: 0 !important;
}

.review {
    font-size: 18px;
    color: black;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.container-cart {
    width: 100%;
    margin-bottom: 25px;
    display: 100%;
    flex-direction: row;
    border: none;
}

.review-book-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.review-artist {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 14px;
    display: block;
}

.review-price {
    font-size: 16px;
    color: #44b200;
    font-weight: bold;
}

.btn-trash {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    background-color: transparent;
    border: none;

    &:hover {
        background-color: transparent !important;
    }
}

.img-trash {
    width: 18px;
    height: 18px;
    border: none !important;
}

.content-dua {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 20px !important;
}

.content-subtotal {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
}

.subtotal1,
.subtotal2 {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: black;
}

.content-qty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.qty1,
.qty2 {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: black;
}

.content-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total1,
.total2 {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #44b200;
}

/* Input Upload Image */
.content-proof-transfer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 0px;
}

.content-proof-transfer .img-upload {
    width: 70%;
    height: 100% !important;
    border-radius: 5px;
    margin: 0px !important;
}

.img-upload label {
    width: 100% !important;
    height: 100% !important;
}

.img-proof {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    border-radius: 5px;
}

.img-upload label img:hover {
    cursor: pointer;
}

.text-proof {
    font-weight: bold;
    color: black;
}
/* End input upload image */

.transaction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img-transaction {
    width: 60%;
    margin-bottom: 20px;
}

.btn-transaction {
    background-color: #393939;
    width: 60%;
    border: none !important;
    &:hover {
        opacity: 0.8;
        background-color: #393939;
    }
}

.content-cart {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.value {
    margin: 0px !important;
    font-size: 14px;
}

.content-cart button {
    width: 25px !important;
    height: 25px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    border: none !important;
}

.content-cart img {
    width: 20px !important;
    height: 20px !important;
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {
    .payment-container {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .img-card {
        margin-bottom: 20px;
    }
}
